#about .fa-solid {
  font-size: var(--text-size-biggest);
  color: var(--primary-color);
  align-self: center;
}

.about-item {
  width: clamp(18rem, 25%, 32rem);
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
}

.about-item-title {
  font-weight: bold;
  text-align: center;
}
