@import url(variables.css);
:root {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: var(--light-primary-color);
  font-family: "Nunito", sans-serif;
  font-size: var(--text-size-normal);
}

.hidden {
  animation: 1.5s linear 0.01s 1 forwards hide;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

h1 {
  font-size: 5.4rem;
  margin: 0.2rem;
}

h2 {
  font-size: 4.8rem;
  margin: 0.2rem;
}

p {
  margin: 0.1rem;
}

.subtitle {
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
}
