@import url(base.css);
@import url(nav.css);
@import url(home.css);
@import url(about.css);
@import url(footer.css);

#top {
  position: fixed;
}
/*

footer,
#id {
  height: 70px;
}



button {
  position: fixed;
  bottom: 0;
  right: 80px;
} */
