.testimonial-card {
  width: clamp(18rem, 100%, 30rem);
  background-color: white;
  margin: 1.2rem;
  box-shadow: 0 0 0.4rem;
  border-top: 0.3rem solid var(--primary-color);
  border-radius: 0.8rem;
  padding: 2rem;
  line-height: 2.4rem;
  color: #1d1c1c;
}
.profile > img {
  width: 5rem;
}

.profile {
  display: grid;
  grid-template-columns: 5.2rem 1fr;
  align-items: center;
  margin-bottom: 0.4rem;
  padding: 0.4rem;
}

.user-info {
  margin-left: 1.4rem;
}

.username {
  font-weight: bold;
}

.user-job {
  font-style: italic;
}
