:root {
  --primary-color: #f44336;
  --light-primary-color: #f8bab2;
  --dark-primary-color: #d3392e;
  --dark-color: #181818;
  --light-color: #f1f1f1;
  --secondary-color: #388e3c;
  --dark-secondary-color: #1b5e20;
  --light-secondary-color: #4caf50;
}
